@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Spectral');
h1 {
	color: #000;
	font-family: "Roboto Condensed", sans-serif;
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 50px;

}
body {
	background: white;
	color: #808285;
	font-size: 18px;
	font-family: "Spectral", serif;
	text-align: center;
}
p{
	text-align: center;
}
h2{
	color: #000;
	font-family: "Roboto Condensed", sans-serif;
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
#paragraphlist{
	color: #808285;
	text-align: center;
	font-family: "Spectral", serif;
}
ul{
	text-align: center;
	list-style-type: none;
}
#firsthr {
	width: 600px;
}
a {
	color: #3B74FF;
	text-decoration: none;
	font-weight: bold;
}
img{ 
	width: 1000px;
}
#calltoaction{
	font-weight: bold;
	text-align: center;

}
