h1 {
	color: #3AD6D5;
	font-family: "Courier New", monospace;
	text-decoration: italic;
	text-align: center;
	font-weight: bold;
}
body,li {
	background: white;
	color: #808285;
	font-size: 18px;
	font-family: "Courier New", monospace;
	text-align: center;
}
ul {
	color: #FFD69A;
}
a {
	color: #8EF2FF;
	text-decoration: none;
}
img{ 
	width: 800px;
}
