h1 {
	color: #000;
	font-family: "Palatino", Serif;
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 50px;

}
body {
	background: white;
	color: #808285;
	font-size: 18px;
	font-family: "Palatino", Serif;
	text-align: center;
}
h2{
	color: #000;
	font-family: "Palatino", Serif;
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
li{
	color: #FFD69A;
}
#firsthr {
	width: 400px;
}
#secondhr {
	width:200px;
}
a {
	color: #FFD69A;
	text-decoration: none;
	font-weight: bold;
}
img{ 
	width: cover;
}
#calltoaction{
	font-weight: bold;

}
