h1 {
	color: #000;
	font-family: "Courier New", monospace;
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 50px;

}
body {
	background: white;
	color: #808285;
	font-size: 18px;
	font-family: "Courier New", monospace;
	text-align: center;
}
p{
	text-align: center;
}
h2{
	color: #000;
	font-family: "Courier New", monospace;
	font-style: italic;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
#paragraphlist{
	color: #808285;
	text-align: center;
}
ul{
	text-align:center;
}
#firsthr {
	width: 600px;
}
#secondhr {
	width:200px;
}
a {
	color: #3B74FF;
	text-decoration: none;
	font-weight: bold;
}
img{ 
	width: 1000px;
}
#calltoaction{
	font-weight: bold;
	text-align: center;

}
